streamlit
opencv-python-headless
deepface
pillow
pandas
numpy
python-dotenv
bcrypt
cryptography
google-auth
google-auth-oauthlib
google-auth-httplib2
email-validator
plotly
scikit-learn
pydantic
requests
